<!doctype html>
<html>
<head>
    <title>Privacy Audit Tool</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">

    <div class="text-center" id="login-image">
        <h1>Welcome to your privacy audit tool!</h1>
        <img src="img/Cover.png" alt="Logo of privacy audit tool Ghost Audit">

        <p>Sign up or log in to review your digital privacy and ensure you're protected online!</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
